@import '../../node_modules/open-color/open-color'

web = 640px

main-heavy = oc-blue-6
main-light = oc-blue-4

gray-header = oc-gray-8
gray-heavy = oc-gray-7
gray-light = oc-gray-6
gray-inactive = oc-gray-5

gray-bg-heavy = oc-gray-1
gray-bg-light = oc-gray-0

gray-line-heavy = oc-gray-4
gray-line-light = oc-gray-3
gray-line-inactive = oc-gray-2
