@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css')
@import 'variables.styl'

html
  box-sizing border-box
  font-family 'Spoqa Han Sans', 'Spoqa Han Sans KR', 'Sans-serif'

*, *:before, *:after
  box-sizing inherit

/* Text containers */
div, p, span, li, label
  color gray-primary
  line-height 1.6em

/* Links */
a
  color main-primary
  text-decoration none

a:hover
  color gray-secondary


/* Header */
h1, h2, h3, h4, h5, h6
  color gray-primary
  margin-top 1em
  margin-bottom 1em
  font-weight normal

h1, h2
  line-height 1.3em

h3, h4, h5, h6
  line-height 1.5em

h1
  font-size 48px

h2
  font-size 36px

h3
  font-size 22px

h4
  font-size 22px
  color gray-secondary

h5
  font-size 16px

h6
  font-size 16px
  color gray-secondary

/* Container */

.container
  width: 80%
  margin: 0 auto

@media(min-width: web)
  .container
    width: 60%
    max-width: 1000px
    margin-right: auto
    margin-left: auto
