@import '../node_modules/open-color/open-color.styl'

web = 640px

main-primary = oc-blue-6
main-secondary = oc-blue-4

gray-header = oc-gray-9
gray-primary = oc-gray-7
gray-secondary = oc-gray-6
gray-inactive = oc-gray-2
